
@{
    Layout = null;
}









<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OA系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">OA 管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div id="m" class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    @{
                        OA.Controllers.Menu menu = new OA.Controllers.Menu();
                        Guid i = (Session["userInfo"] as OA.Models.Staff).Id;
                        List<OA.Models.SystemResourceModule> l = menu.getMenu((Session["userInfo"] as OA.Models.Staff).Id); }

                    @{ foreach (var item in l.Where(x => x.ParentId == null))
                        {
                            <li class="layui-nav-item">
                                <a href="javascript:;">@item.Name</a>
                                <dl class="layui-nav-child">
                                    @{foreach (var item2 in l.Where(x => x.ParentId == item.Id))
                                        {
                                            <dd><a href="javascript:;">@item2.Name</a></dd>
                                        } }
                                    <dd><a href="/Staff/StaffRoleManage">用户（员工）角色组</a></dd>

                                    <dd><a href="">超链接</a></dd>
                                </dl>
                            </li>
                        }}

                    @*<li class="layui-nav-item ">
                        <a class="" href="javascript:;">基础信息维护</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" url="/OrganizationStructure/OrganizationStructureManage">机构组织管理</a></dd>
                            <dd><a href="javascript:;" url="/Job/JobManage">职位管理</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>*@

                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            
            <iframe frameborder="0" style="width:100%;height:100%;" id="mainContent" name="mainContent"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 2019 By JiangHao
        </div>
    </div>
    <script>
        //JavaScript代码区域

        layui.use('element', function () {
            var element = layui.element;

        });

        

        $("#m .layui-nav-child a").click(function () {
            var url = $(this).attr("url");
            $("#mainContent").attr("src", url);
        });

        
    </script>
    @*<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>*@
</body>
</html>
