
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApproverManage</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.all.js"></script>
    <script type="text/javascript">

        var table, layer;
        $(function () {
            layui.use("table", function () {
                var form = layui.form;
                table = layui.table;
                layer = layui.layer;
                //第一个实例
                table.render({
                    elem: '#td'
                    , url: '/Approver/selectApprover' //数据接口
                    , page: false //开启分页
                    //, toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                    , id: 'test'
                    , where:{ strid: $('#s').val() }
                    , cols: [[ //表头
                        { type: 'numbers', title: '序号' }
                        , { field: 'Id', title: 'Id'}
                        , { field: 'JobCode', title: '职位代码' }
                        , { field: 'Discrible', title: '操作对象描述' }
                        , { field: 'Order', title: '顺序' , sort: true }
                        //, { field: 'ProcessItemId', title: '员工姓名' }
                        , { title: '操作', templet: '#toolDemo', sort: true }
                    ]]
                });

                table.on('tool(test)', function (obj) {
                    if (obj.event == "up") {
                        if (obj.data.Order == 0) {                           
                            layer.msg('不能上移');
                            return;
                        }
                        $.ajax({
                            url: '/Approver/upApprover',
                            type: 'post',
                            data: { strid: obj.data.Id },
                            success: function (msg) {
                                if (msg == "OK") {
                                    table.reload('test');
                                }
                            }
                        })
                        
                    } else if (obj.event == "down") {
                        if (obj.data.Order == (table.cache.test.length - 1)) {
                            layer.msg('不能下移');
                            return;
                        }
                        $.ajax({
                            url: '/Approver/downApprover',
                            type: 'post',
                            data: { strid: obj.data.Id },
                            success: function (msg) {
                                if (msg == "OK") {
                                    table.reload('test');
                                }
                            }
                        })
                    }
                })

            })

            $("#s").change(function () {
                table.reload('test', {
                    url: '/Approver/selectApprover' //数据接口
                    , where: {
                        'strid': $(this).val()
                    },
                    //page: {
                    //    curr: 1
                    //}
                })
            });

        })

        

    </script>

    
</head>
<body>

    <div>
        <div class="layui-form-item">
            <label class="layui-form-label">流程类型</label>
            <div class="layui-input-inline">
                @{ List<OA.Models.ProcessItem> proc = ViewBag.Proc;}
                <select id="s" name="">
                    @{ foreach (var item in proc)
                        {
                            <option value="@item.Id">@item.Discrible</option>
                        }}
                </select>
            </div>
        </div>
    </div>

    <script type="text/html" id="toolDemo">
        <button class="layui-btn layui-btn-xs" lay-event="up"> 上移</button>
        <button class="layui-btn layui-btn-xs" lay-event="down"> 下移</button>
    </script>

    <div>
        <table id="td" lay-filter="test"></table>
    </div>

</body>
</html>
